body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}
header {
    background: peru;
}
h1 {
    font-weight: bold;
    font-size: xx-large;
    background-color: burlywood;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    margin: 0%;
}
h2 {
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    text-align: justify;
}
article {
    padding: 10px;
    margin: 20px;
    background: rgb(56, 149, 192);
}

