body {
    background-color: rgb(235, 171, 203);
}
h1 {
    text-transform:uppercase;
    text-align: center;
    color: white;
    font-size: 2,5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li {
    text-align: right;
    color: white;
}
nav {
    text-transform: uppercase;
    font-weight: bold;

}
body {
    background-image: url(asset/Espace_7.jpg) ; background-repeat: no-repeat; background-size: cover;
}
